p {
    font-family: 'Poppins', sans-serif;
    color: white;
}
li {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
}
.portrait{
    flex-basis: 45%;
}
.presentation{
    flex-basis: 45%;
}
.coordonnée-contact {
    flex-basis: 45%;
}
/*les image font la taille de balise parente*/
img {
    max-width: 100%;
    border-radius: 50%;
}
body {
    line-height: 1.8em;
    font-size: 1.25em;
    background-image: url(../img/17973908.jpg);
}
/*container avec largeur fixé et centré*/
@media screen and  (min-width: 1200px){
    .container {
        width: 1140px;
        margin: 0 auto;
    }
}
#experience {
    margin-top: 30px;
}

.ul-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ul-flex > li {
    flex-direction: column;    
    border-radius: 8px;
    padding: 15px;
    flex-basis: 25%;
    margin: 30px 0;
    background-color: rgba(100, 100, 100, 0.7);
    box-shadow:2px 2px 2px 1px rgb(41, 39, 39);
}

@media (max-width: 1200px){
    .ul-flex {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .ul-flex > li {  
        flex-basis: 90%;
    }
}
/*coordonée-contact*/
.double {
    display: flex;
    justify-content: space-around;
}
.double > section {
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(100, 100, 100, 0.7);
    box-shadow:2px 2px 2px 1px rgb(41, 39, 39);
    flex-basis: 40%;
}
#formulaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#formulaire > label {
    flex-basis: 30%;
}
#formulaire > input {
    flex-basis: 60%;
    margin-bottom: 10px;
}
textarea {
    flex-basis: 62%;

}
.bouton {
    min-width: 100%;
    margin-top: 20px;
    cursor: pointer;
    padding:6px 0 6px 0;
	background:#E64B54;
	color:#fff;
	border-radius:5px;
	width:100px;
	border:none;
} 


footer {
    background-color: black;
    color: white;
    margin-top: 30px;
    
}
footer > p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Sansita', sans-serif;
    color: #E64B54;
    margin-bottom: 10px;
    margin-top: 20px;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Sansita', sans-serif;
    color: #E64B54;
    margin: 20px 0 10px 45px;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Sansita', sans-serif;  
    margin-bottom: 10px; 
}
.blanc {
    color: white;
}
.presentation > p {
    margin: 30px;
    color: #E64B54;
}

/*Taille écran plus petites*/

@media (max-width: 576px) { 
    header {
        flex-direction: column;
        align-items: center;
    }
    .ul-flex {
        margin: 0 30px;
    }
    .double {
        margin: 0 30px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .double > section {
        margin-bottom: 20px;
    }
    form {
        flex-direction: column;
    }




}