*{
    font-family: "poppins";
}

header {
    display: flex;
    justify-content: space-between;
}
.portrait{
    flex-basis: 45%;
}
.presentation{
    flex-basis: 45%;
}
.coordonnée-contact {
    flex-basis: 45%;
}
/*les image font la taille de balise parente*/
img {
    max-width: 100%;
    border-radius: 50%;
}
body {
    line-height: 1.8em;
    font-size: 1.25em;
    background-image: url(../img/17973908.jpg);
}
/*container avec largeur fixé et centré*/
@media screen and  (min-width: 1200px){
    .container {
        width: 1140px;
        margin: 0 auto;
    }
}
#experience {
    margin-top: 30px;
}

.ul-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ul-flex > li {
    flex-direction: column;    
    border-radius: 8px;
    padding: 15px;
    flex-basis: 25%;
    margin: 30px 0;
    background-color: rgba(100, 100, 100, 0.7);
    box-shadow:2px 2px 2px 1px rgb(41, 39, 39);
}

@media (max-width: 1200px){
    .ul-flex {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .ul-flex > li {  
        flex-basis: 90%;
    }
}
/*coordonée-contact*/
.coordonée-contact {
    display: flex;
    justify-content: space-around;
}
.coordonée-contact > section {
    border-radius: 8px;
    padding: 15px;
    background-color: rgba(100, 100, 100, 0.7);
    box-shadow:2px 2px 2px 1px rgb(41, 39, 39);
    flex-basis: 40%;
}
@media (max-width: 1200px){
    .coordonée-contact {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .coordonnée-contact > section {  
        flex-basis: 90%;
    }
    #coordonnée {
        margin-bottom: 10px;
    }
}
#formulaire {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#formulaire > label {
    flex-basis: 30%;
}
#formulaire > input {
    flex-basis: 60%;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
    margin-top: 30px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: "sansita";
    margin: 30px;
    text-decoration: underline;
}
h2 {
    font-size: 2rem;
    font-weight: bold;
    font-family: "sansita";
    margin: 30px;
    text-decoration: underline;
}
h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "sansita";
    margin: 10px;
    text-decoration: underline;
}
.presentation > p {
    margin: 30px;
}

