h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
}
input {
  cursor: pointer;
}
body {
  max-width: 100vw;
}

header {
  display: flex;
  background-color: #6c757d;
  justify-content: center;
  align-items: center;
}
header > h1 {
  color: white;
}
header > p {
  margin-left: 50px;
  color: #28a745;
}
.selection {
  display: flex;
  justify-content: center;
  margin: 15px auto;
  width: 80%;
}
.selection > button {
  margin-left: 20px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 3px;
}
.selection > button:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: #3e4449;
}

#plus {
  background: #218838;
  color: white;
  border: none;
  padding: 5px;
  font-size: 1.5rem;
}
.titre {
  margin-left: 20px;
}
main {
  overflow-x: scroll;
}

.principal {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;

}
.column {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  flex-grow: 1;
  flex-basis: 20%;
}
.headercol {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.contentcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.contentcol > article {
  padding: 10px;
  margin: 5px;
  background: #6c757d;
  border-radius: 3px;
  color: white;
}
.headbloc {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.contentbloc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footbloc {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footbloc > p {
  cursor: pointer;
}
.footbloc > button {
  background: #e0a800;
  color: black;
  border: none;
  padding: 3px;
  cursor: pointer;
}
footer {
  margin-top: 50px;
  background-color: #6c757d;
  color: white;
  display: flex;
  justify-content: center;
}

/* responsive */
@media (max-width: 576px) {
  .body {
    max-height: 100vh;
    overflow: hidden;
  }
  .header {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
  .principal {
    width: 400vw;
  }
 
}
