@import "variables.scss";
@import "global.scss";
@import "_breackpoint.scss";
@import "_media.scss";

/*polices*/
h1 {
  font-family: $font;
  font-size: 3rem;
}
h2 {
  font-family: $font;
  font-size: 2rem;
}
h3 {
  font-family: $font;
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
}

body {
  max-width: 100vw;
  @media (max-width: 576px) {
    max-height: 100vh;
    overflow: hidden;
  }
}

header {
  @extend %flexcenter;
  background-color: $grey;
  align-items: center;
  > h1 {
    color: $white;
  }
  > p {
    margin-left: 50px;
    color: $green;
  }
  @include sm {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }
}

.selection {
  @extend %flexcenter;
  margin: 15px auto;
  width: 80%;
  > button {
    margin-left: 20px;
    background-color: #6c757d;
    color: $white;
    border: none;
    border-radius: 3px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      background-color: #3e4449;
    }
  }
}

#plus {
  background: $green;
  color: $white;
  border: none;
  padding: 5px;
  font-size: 1.5rem;
}

.titre {
  margin-left: 20px;
}

main {
  overflow-x: scroll;
}

.principal {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  @media (max-width: 576px) {
    width: 400vw;
  }
}

.column {
  @extend %flexcol;
  max-width: 20%;
  flex-grow: 1;
  flex-basis: 20%;
  .headercol {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    input {
      cursor: pointer;
    }
  }
  .contentcol {
    @extend %flexcol;
    flex-wrap: nowrap;
    > article {
      padding: 10px;
      margin: 5px;
      background: $grey;
      border-radius: 3px;
      color: $white;
    }
  }
  .headbloc {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .contentbloc {
    @extend %flexcenter;
    flex-wrap: wrap;
  }
  .footbloc {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > p {
      cursor: pointer;
    }
    > button {
      background: $yellow;
      color: black;
      border: none;
      padding: 3px;
      cursor: pointer;
    }
  }
}

footer {
  margin-top: 50px;
  background-color: $grey;
  color: $white;
  @extend %flexcenter;
}
